html, body{
    overflow-x: hidden;
    color: black;
    background-color: rgb(51, 167, 181);
    display: contents;
}
body > div.body-section > div.info-section > div.body-section > div.info-section > p:nth-child(3){
    width: 90%;
}
button{
    cursor: pointer;
}
.body-section{
    justify-content: center;
    background-color: #f7f8f9;
    display: flex;
    justify-items: center;
    height: auto;
    width: 101%;
    min-height: 450px;
    padding: 30px 0;
}
.body-section > .info-section .general-title{
    color:#0366d6;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.info-section{
    padding-left: 25px;
    display: grid;
    width: -webkit-fill-available;
    text-align-last: center;
}
.select{
    text-align: center;
    vertical-align: middle;
    margin: 35px;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}
.select > select{
    background-color: #f7f8f9;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgb(51,167,181);
}
h4{
    text-align: center;
}
.data-needed{
    text-align: -webkit-center;
    vertical-align: middle;
}
.data-needed > table{
    border-collapse: unset;
    border: solid 2px  rgb(51,167,181);
    font-size: 14px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.data-needed > table > tbody > tr > td{
    border: none;
    text-align: justify;
}
.body-section > .function-section{
    display: flex;
    padding: 35px 0 35px 0;
    justify-content: center;
}
.function-section{
    display: flex;
    padding: 50px 0;
    justify-content: center;
}
input[type=file]::file-selector-button{
    cursor: pointer;
    background-color: rgb(255,203,112);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border-color: rgb(51,167,181);
}
input[type=file]::file-selector-button:hover{
    background-color: rgb(51,167,181);
}
.input-class{
    padding-right: 35px;
}
.btn-section > .btn{
    cursor: pointer;
    background-color: rgb(255,203,112);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border-color: rgb(51,167,181);
}
.btn-section > .btn:hover{
    background-color: rgb(51,167,181);
}
input[type="submit"] {
    cursor: pointer;
}
caption{
    margin:10px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    text-align: center;
}
table{
    display: inline-table !important;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
	vertical-align: middle;
}
thead {
	background-color: rgb(255,203,112);
	color: black;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}
/*xlsx btn*/
.xlsx a button{
    color: rgb(51,167,181);
    border: 1px solid rgb(51,167,181);
    padding: 10px;
    border-radius: 8px;
}
.xlsx a button:hover {
    filter: drop-shadow(0 0 5px rgb(51,167,181));
}
.xlsx a button:active {
    box-shadow: 0 0 5px rgb(51,167,181);
}
.xlsx {
    padding: 35px 0;
}
/*forms*/
#formulario-login{
    min-height: 843.3px;
    display: flex;
}
#formulario-login > div{
    margin-top: 20%;
    background-color: rgb(51,167,181);
    width: fit-content;
    padding: 100px 40px 0px 40px;
}
#formulario-sign-in > div{
    background-color: rgb(51,167,181);
    width: fit-content;
    border-radius: 8px;
    padding: 0 50px;
}
.form-container > div{
    display: grid;
    justify-content: center;
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
form{
    display: flex;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    margin: 20px;
}
label{
    font-weight: bold;
    padding: 10px 0 10px 0;
}
input{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid white;
}
input:focus{
    border-color: rgb(51,167,181);
    box-shadow: 0 0 5px rgb(51,167,181);
    outline: none;
}
#login_form > input[type=text]:nth-child(2):focus{
    filter: drop-shadow(0 0 3px white);
}
#login_form > input[type=password]:nth-child(4):focus{
    filter: drop-shadow(0 0 3px white);
}
input[type=submit]{
    width: 120px;
    height: 39px;
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    margin-top: -4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type=submit]:hover{
    filter: drop-shadow(0 0 5px white);
    border-color: rgb(51,167,181)
}
input{
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 100%;
}
input:focus{
    outline: none;
    border: 2px solid rgb(51, 167, 181);
}
/* Add this to your existing CSS */
select {
    padding: 5px;
    border: none;
    border-radius: 6px;
    width: 100%;
    appearance: none;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}

.perfil{
    width: 90px;
}
/*login*/
.index{
    display: flex;
    min-height: 600px;
}
.log-sign{
    width: 40%;
    background-color: white;
}
.imagen-index{
    display: flex;
    align-self: center;
    width: 100%;
    background-color: white;
    min-height: 843.3px;
    text-align: center;
    justify-content: center;
}
.imagen-index img{
    width: 90%;
}
#formulario-sign-in{
    display: none;
    place-self: center;
    max-height: 843.3px;
}
.form-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*Search products*/
body > div.body-section > div.info-section > div.products-by-sku{
    display: none;
}

/* table */
.scrollable-table {
    overflow: auto;
    display: none;
    margin: 25px;
}
body > div.body-section > div.info-section > div.files-info{
    overflow: auto;
    display: none;
    margin: 25px;
}