html, body{
    overflow-x: hidden;
    color: black;
    background-color: rgb(51, 167, 181);
    display: contents;
}
body > div.body-section > div.info-section > div.body-section > div.info-section > p:nth-child(3){
    width: 90%;
}
button{
    cursor: pointer;
}
.body-section{
    justify-content: center;
    background-color: #f7f8f9;
    display: flex;
    justify-items: center;
    height: auto;
    width: 101%;
    min-height: 850px;
    padding: 30px 0;
}
.body-section > .info-section .general-title{
    color:rgb(51, 167, 181);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.info-section{
    justify-content: center;
    margin-top: 15px;
    padding: 0 25px;
    display: grid;
    width: -webkit-fill-available;
}
.select{
    text-align: center;
    vertical-align: middle;
    margin: 35px;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}
.select > select{
    background-color: #f7f8f9;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgb(51,167,181);
}
h4{
    text-align: center;
}
.data-needed{
    text-align: -webkit-center;
    vertical-align: middle;
}
.data-needed > table{
    border-collapse: unset;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
#upload-section > div.data-needed > table > tbody > tr > td > img{
    width: 82px;
}
.data-needed > table > tbody > tr > td{
    border: none;
    text-align: justify;
}
.body-section > .function-section{
    display: flex;
    padding: 35px 0 35px 0;
    justify-content: center;
}
.function-section{
    display: flex;
    padding: 50px 0;
    justify-content: center;
}
input[type=file]::file-selector-button{
    cursor: pointer;
    padding: 15px 25px !important;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    border-color: rgb(51,167,181);
}
.input-class{
    margin-right: 15px;
}
.input-class::file-selector-button:hover{
    background-color: #f5f5f5;
    filter: drop-shadow(0 0 5px rgb(51,167,181));
}
#input:focus{
    border: none !important;
}
.btn-section{
    align-self: center;
}
.btn-section > .btn{
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    padding: 15px 25px !important;
    margin: 5px;
    border-color: rgb(51,167,181);
}
.btn-section > .btn:hover{
    background-color: #f5f5f5;
    filter: drop-shadow(0 0 5px rgb(51,167,181));
}
input[type="submit"] {
    cursor: pointer;
}
caption{
    margin:10px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    text-align: center;
}
table{
    display: inline-table !important;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
	vertical-align: middle;
}
thead {
	background-color: rgb(51, 167, 181);
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}
/*xlsx btn*/
.xlsx a button{
    color: rgb(51,167,181);
    border: 1px solid rgb(51,167,181);
    padding: 15px;
    border-radius: 8px;
    margin: 0 10px;
    background-color: #f7f8f9;
}
.xlsx a button:hover {
    background-color: white;
    filter: drop-shadow(0 0 5px rgb(51,167,181));
}
.xlsx a button:active {
    box-shadow: 0 0 5px rgb(51,167,181);
}
.xlsx {
    padding: 35px 0;
    text-align-last: center;
}
/*forms*/
/*create user form*/
.form-container {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    border: 1px solid #ccc;
}
#formulario-login > div{
    border: none;
}
#register_form{
    display: inline-grid;
    gap: 20px;
    max-width: fit-content;
    margin: 20px;
}
#formulario-sign-in > div{
    background-color: rgb(51,167,181);
    width: fit-content;
    border-radius: 8px;
    padding: 0 50px;
}
.form-container > div{
    display: grid;
    justify-content: center;
}
#register_form > div:nth-child(7) > select{
    padding: 18px;
    width: 108%;
}
#register_form > div:nth-child(8){
    margin-top: 30px;
}
.form-container select option {
    color: #333;
    padding: 10px;
}
/*other*/
#user_information{
    display: block !important;
}
#user_information > input[type=submit]:nth-child(15){
    border: 1px solid rgb(51, 167, 181);
    margin-top: 15px;
    padding: 10px;
}
form{
    display: flex;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    margin: 20px;
}
label{
    font-weight: bold;
    padding: 10px 0 10px 0;
    gap: 10px;
    display: flex;
}
input{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid white;
}
input:focus{
    border-color: rgb(51,167,181);
    box-shadow: 0 0 5px rgb(51,167,181);
    outline: none;
}
/*Login*/
input[type=submit]{
    width: 120px;
    height: 39px;
    background-color: white;
    border: 1px solid rgb(51, 167, 181);
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type=submit]:hover{
    filter: drop-shadow(0 0 5px rgb(51,167,181));
    border-color: #ccc;
}
input{
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 100%;
}
input:focus{
    outline: none;
    border: 2px solid rgb(51, 167, 181);
}
/* Add this to your existing CSS */
select {
    padding: 5px;
    border: none;
    border-radius: 6px;
    width: 100%;
    appearance: none;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}

.perfil{
    width: 90px;
}

/*Search products*/
body > div.body-section > div.info-section > div.products-by-sku{
    display: none;
}

/* table */
.scrollable-table {
    overflow: auto;
    display: block !important;
    margin: 25px;
    width: fit-content;
    margin: 0 auto;
    max-height: 300px;
}