.header{
    background-color: white;
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px;
    border-bottom: 1px solid rgb(255,203,112);
    justify-content: space-between;
}
body > div.header > a{
width: 220px;
cursor: pointer;
}
.header > .logo {
    height: 75px;
}
.header-icons{
    height: 75px;
    display: flex;
    margin-right: 25px;
    align-items: center;
}
body > div.header > div > a{
    margin-top: 5px;
    width: fit-content;
    text-decoration: none;
    margin-right: 15px;
}
body > div.header > div > a > img{
    display: flex;
    align-items: center;
    width: 30px;
}
#logOut{
    margin-right: 15px;
    border-style: none;
    background-color: transparent;
}
#logOut > img{
    cursor: pointer;
    display: flex;
    width: 52px;
    align-items: center;
}
body > div.header > div.header-icons > a > img.perfil{
    padding-bottom: 3px;
}
body > div.header > div:nth-child(2){
    align-self: center;
    font-weight: bold;
}
body > div.header > div.header-icons > a > img{
    width: 44px;
    margin-right: 15px;
}
.header-icons > a > img:hover{
    filter: drop-shadow(0 0 1px rgb(51,167,181));
}
#logOut > img:hover{
    filter: drop-shadow(0 0 1px rgb(51,167,181));
}