/* General */
.user{
    position: relative;
    width: 80px;
    display: block;
    border-right: 1px solid rgb(255,203,112);
}
.user button{
    border: none;
    background-color: transparent;
}
.user img {
    width: 60px;
}
/*Inc data*/
li{
    list-style: none;
}

/*not diplayed*/
body > div.body-section > div.info-section > div.files-info, body > div.body-section > div.info-section > div.logins-info{
    display: none;
}
body > div.body-section > div.user > div:nth-child(3) > button > img{
    display: none;
}

/* Open icon*/
body > div.body-section > div.user > div.open-left_section{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
body > div.body-section > div.user > div.open-left_section > button{
    padding: 0;
    margin: 0;
}
.upload{
    padding: 10px 0;
}
.logins{
    padding: 10px 0;
}
.files{
    padding: 10px 0;
}

/*Logins list style*/
body > div.body-section > div.info-section > div.logins-info{
    width: 95%;
    padding: auto;
}
body > div.body-section > div.info-section > div.logins-info > h5{
    font-size: 18px;
}
.login-item {
    border-top: 1px solid rgb(255, 203, 112);
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-item > strong {
    color: rgb(0, 80, 150); /* Adjust the color */
}

.login-item > span {
    color: rgb(80, 80, 80); /* Adjust the color */
}